[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
advent-of-code-data = "*"
numpy = "*"
tomd = "*"
bs4 = "*"
requests = "*"
matplotlib = "*"
numba = "*"
urllib3 = ">=1.24.2"
networkx = "*"
z3-solver = "*"
scipy = "*"
tqdm = "*"

[requires]
python_version = "3.7"
